/*body {
	box-sizing: border-box;
	font-size: 16px;
	background-color: #0e1152;
	font-family: 'Oxygen', sans-serif;
}*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}


body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0e1152;
}


.container {
	max-width: 850px;
	width: 100%;
	background: #fff;
}





