/*body {
	box-sizing: border-box;
	font-size: 16px;
	background-color: #0e1152;
	font-family: 'Oxygen', sans-serif;
}*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}


body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0e1152;
	padding: 30px;
}


.container {
	position: relative;
	max-width: 850px;
	width: 100%;
	background: #fff;
	padding: 40px 30px;
	box-shadow: 0 4px 9px rgb(0, 0, 0, 0.3);
	/*border-radius: 6px;*/
}


.container .cover {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 50%;
	background: #0e1152;
	z-index: 98;
	/*border-radius: 6px;*/
	/*background-color: #0e1152;*/
}


.container form {
	height: 100%;
	width: 100%;
	background: #fff;
}


.container .form-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.form-content .login-form,
.form-content .signup-form {
	width: calc(100% / 2 - 25px);
	/*background: #1c8adb;*/
}


form .form-content .title {
	position: relative;
	font-size: 24px;
	font-weight: 500;
	clear: #333;
}


form .form-content .input-boxes {
	margin-top: 30px;
}


form .form-content .input-box {
	height: 50px;
	width: 100%;
	margin: 10px 0;
	position: relative;
}


.form-content .input-box input {
	height: 100%;
	width: 100%;
	padding: 0 30px;
}


.form-content .input-box input:focus 
.form-content .input-box input:valid{
	border-color: #1c8adb;
}


form .form-content .text {
	font-size: 14px;
	font-weight: 500;
	color: #333;
}


form .form-content .text a {
	text-decoration: none;
}


form .form-content .text a:hover {
	text-decoration: underline;
}


form .form-content .button {
	color: #fff;
	margin-top: 40px;
}


form .form-content .button input {
	color: #fff;
	background: #1c8adb;
	border-radius: 6px;
	padding: 0;
	cursor: pointer;
	transition: all 0.4s ease;
}


form .form-content label {
	color: #1c8adb;
	cursor: pointer;
}


form .form-content label:hover {
	text-decoration: underline;
}









