body {
	box-sizing: border-box;
	font-size: 16px;
	background-color: #0e1152;
	font-family: 'Oxygen', sans-serif;
}


.form { /* form */
	width: 330px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); 
	/*background: rgba(0, 0, 0, 0.001);*/
	background: #fff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center; 
	border-radius: 20px;
}


.form__input {  /* form input field*/
	display: block;
	width: 100%;
	padding: 0.75rem;
	box-sizing: border-box;
	/*border-radius: 30px;*/
	border: 1px solid #dddddd;
	outline: none;
	transition: 0.2s, border-color 0.2s;
}


.form > *:first-child { /* Login margin top */
	margin-top: 0;
}


.form > *:last-child { /* Don't have account margin bottom */
	margin-bottom: 0;
}


.form .form__message {
	text-align: center;
	margin-bottom: 1rem;
}


.form .form__message--success {
	color: green;
}


.form .form__message--error {
	color: red;
}


.form .form__input-group {
	margin-bottom: 1rem;
}


.form .form__button {
	margin-bottom: 1rem;
}


.form__title {
	margin-bottom: 1rem;
}


.form h1 {
 	font-size: 30px;
 	color: #1c8adb;
 	font-weight: bold;
 }


 .form hr {
 	margin-bottom: 2rem;
 }


 .form .form__button {
	display: block;
	width: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding: .75rem;
	cursor: pointer;
	background-color: #1c8adb;
}	

.form .form__button:focus {
	background-color: #0C4BA6;
	color: #ffffff;
}

.form .form__button:active {
	transform: scale(0.98);
}

.form__input:hover {
	border-color: #1c8adb;
	background-color: #ffffff;
}


.form__input--error {
	color: red;
	border-color: red;
}

.form__input--error-message {
	margin-bottom: 1rem;
	font-size: 0.85rem;
	color: red;
}